<!-- <div layout="row" layout-align="start center"> -->
<h1>Applications</h1>
<!-- </div> -->

<div layout="row" layout-align="center center">
    <md-list flex="95">
        <p ng-hide="applicationsCtrl.apps.length">No applications yet!</p>
        <md-list-item ng-repeat="app in applicationsCtrl.apps">
            <h2>{{ app.name }}</h2>
            <div layout="row" layout-align="end center" flex>
                <md-button class="md-icon-button" aria-label="Edit" ng-click="applicationsCtrl.editApp(app)">
                    <md-icon md-font-icon="icon-pencil"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Remove" ng-click="applicationsCtrl.deleteApp(app)">
                    <md-icon md-font-icon="icon-trash"></md-icon>
                </md-button>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</div>

<div layout="row" layout-align="end center">
    <md-button class="md-fab md-warn" aria-label="Add" ui-sref="home.appForm">
        <md-icon md-font-icon="icon-plus"></md-icon>
    </md-button>
</div>
