<div layout="row" layout-align="center stretch">
    <div layout="column" layout-fill layout-padding-gt-sm>
        <h2 class="appsTitle">Users</h2>
        <div layout="row" layout-align="center center" flex>
            <table class="simple list-view" flex="85">
                <thead>
                    <tr>
                        <th></th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Last Login</th>
                        <th>Provider</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in applicationUsersCtrl.app.users">
                        <td><img ng-src="{{user.picture}}" class="md-avatar" alt="" /></td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.givenName + ' ' + user.familyName }}</td>
                        <td>{{ user.email }}</td>
                        <!-- FIXME: Hardcode -->
                        <td>{{ "2016-04-03" }}</td>
                        <td>{{ "Facebook" }}</td>
                        <!-- /Hardcode -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- <div class="md-padding actionButtons" layout="column">
    <md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-right speed-dial">
        <md-fab-trigger>
            <md-button aria-label="Add" class="md-fab md-warn" ng-click="applicationsCtrl.newApp()">
                <md-icon md-font-icon="icon-plus"></md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div> -->
